# Xcode project files
**/*.xcarchive
**/*.xcscmblueprint
**/*.xcuserstate
**/*.xcuserdatad/
**/xcuserdata/

# Ignore all xcworkspace files by default
*.xcworkspace/

# Exclude specific xcworkspace files
!*.xcodeproj/project.xcworkspace/
!*.xcodeproj/project.xcworkspace/contents.xcworkspacedata

# Derived data & build artifacts
DerivedData/
build/

# Logs & temporary files
*.log
*.swp
*.lock

# SwiftUI Preview Content
**/Preview\ Content/


