# Xcode project files
**/*.xcarchive
**/*.xcscmblueprint
**/*.xcuserstate
**/*.xcworkspace/
**/*.xcuserdatad/
**/xcuserdata/

# Swift Package Manager
.swiftpm/
Package.resolved

# Derived data & build artifacts
DerivedData/
build/

# Logs & temporary files
*.log
*.swp
*.lock

# SwiftUI Preview Content
**/Preview\ Content/


