<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860823566523-joeuq8msn1qjpsemp7ul8e2dhpgjjne5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860823566523-joeuq8msn1qjpsemp7ul8e2dhpgjjne5</string>
	<key>API_KEY</key>
	<string>AIzaSyCc5Vqryzty4QfODws18oPfoy4OTBA3eig</string>
	<key>GCM_SENDER_ID</key>
	<string>860823566523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wellmeing.team</string>
	<key>PROJECT_ID</key>
	<string>well-meing</string>
	<key>STORAGE_BUCKET</key>
	<string>well-meing.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860823566523:ios:8fb61c4bbeddbcb716519e</string>
	<key>DATABASE_URL</key>
	<string>https://well-meing-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>